[Unit]
Description=Run the Herd Agent
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=/usr/bin/herdagent

[Install]
WantedBy=multi-user.target